@charset "utf-8";
/* CSS Document */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,ul,li{margin:0;padding:0;}
ul,li{list-style:none;}
article,aside,footer,header,hgroup,main,nav,section{display:block;}
a{color:#000;text-decoration:none;}
body{min-width:320px;font-size:1em;font-family:'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;color:#000;-webkit-text-size-adjust:none;line-height:normal;}
body,input,textarea,select,button,table{font-size:16px;}
.jd-header-icon-back span,.jd-header-icon-collection span,.jd-header-icon-shortcut span,.jd-header-icon-cancel span,.jd-header-icon-logo span,.jd-header-shortcut span,.jd-header-icon-category span,.jd-header-icon-search span,.jd-header-icon-close:after,.jd-auto-complete-list li:before,.jd-footer-platforms li a:before,.jd-footer-platforms li a.badge:after,.jd-search-tab li.sort-by-integrative a:after,.jd-search-tab li.sort-by-integrative.active a:after,.jd-search-tab li.sort-by-price a:after,.jd-search-tab li.sort-by-price.active a.arrow-down:after,.jd-search-tab li.sort-by-price.active a.arrow-up:after,.sidebar-categories .arrow,.sidebar-categories li.checked .tick,.sidebar-btn-location:after,.supplier-arrow-right,.landing-keywords a:before,.hot-search-bar span i:before,.region-title-back i{display:block;background:url(../img/jd-sprites.png) no-repeat;background-size:200px 200px;}
.bdr-tb{/*border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea;border-width:1px 0 1px 0;*/background-color:#fff;}
.bdr-b{border-bottom:1px solid #eaeaea;border-width:0 0 1px 0; padding-left:10px; padding-right:10px;}
.jd-header-icon-back span,.jd-header-icon-collection span,.jd-header-icon-shortcut span,.jd-header-icon-cancel span,.jd-header-icon-logo span,.jd-header-shortcut span,.jd-header-icon-category span,.jd-header-icon-search span,.jd-header-icon-close:after,.jd-auto-complete-list li:before,.jd-footer-platforms li a:before,.jd-footer-platforms li a.badge:after,.jd-search-tab li.sort-by-integrative a:after,.jd-search-tab li.sort-by-integrative.active a:after,.jd-search-tab li.sort-by-price a:after,.jd-search-tab li.sort-by-price.active a.arrow-down:after,.jd-search-tab li.sort-by-price.active a.arrow-up:after,.sidebar-categories .arrow,.sidebar-categories li li.checked .tick,.sidebar-btn-location:after,.supplier-arrow-right,.landing-keywords a:before,.hot-search-bar span i:before{display:block;background:url(../img/jd-sprites.png) no-repeat;background-size:200px 200px;}
/*.tryme{background:rgba(0,0,0,0.8);width:100%;height:50px;}
.tryme div{width:320px;height:50px;margin:0 auto;background:url(/item/images/2014/ware/tryme.png?v=2) no-repeat center center;background-size:320px 50px;position:relative;}
.tryme .later{border:0;display:block;left:4px;top:9px;width:32px;height:32px;position:absolute;}
.tryme .trynow{border:0;display:block;left:40px;width:280px;height:50px;position:absolute;}
.tryme span{display:block;width:140px;margin-left:90px;padding-top:10px;color:#fff;font-size:12px;line-height:15px;}*/
.jd-header,.jd-header a{font-family:"PingHei","Lucida Grande","Lucida Sans Unicode","STHeiti","Helvetica","Arial","Verdana","sans-serif";color:#252525;text-decoration:none;font-size:16px;}
.jd-header{min-height:44px;padding:0;margin:0;text-decoration:none;color:#252525;width:100%;}
.jd-header-bar{position:relative;/*background:#efefef url(/item/images/2014/ware/header-bg.png?v=2) repeat-x 0 0;background-size:100% 44px;border-bottom:1px solid #bfbfbf;border-width:0 0 1px 0;*/min-height:44px;}
.jd-header-icon-back,.jd-header-icon-logo{position:absolute;width:40px;height:44px;}
.jd-header-icon-back span{width:20px;height:20px;background-position:-23px 0;margin:12px 0 0 10px;}
.jd-header-icon-back span,.jd-header-icon-collection span,.jd-header-icon-shortcut span,.jd-header-icon-cancel span,.jd-header-icon-search span{text-indent:-100px;overflow:hidden;}
.jd-header-title{margin:0 50px;text-align:center;height:44px;line-height:44px;font-size:16px; color:#424242;}
.jd-header-icon-shortcut,.jd-header-icon-category{position:absolute;right:0;top:0;width:40px;height:44px;overflow:hidden;}
.jd-header-icon-collection span{position:absolute;right:0;top:0;width:40px;height:44px;overflow:hidden;}
.jd-header-icon-collection span{width:20px;height:20px;background-position:3px -130px;margin:12px 10px 0 10px;}
.jd-header-icon-shortcut span{width:20px;height:20px;background-position:-60px 0;margin:12px 10px 0 10px;}
.jd-header-shortcut{display:table;width:100%;background:#404042;height:57px;}
.jd-header-shortcut li{display:table-cell;width:2%;text-align:center;}
.jd-header-shortcut a{border:0;color:#fff;}
.jd-header-shortcut span.shortcut-categories{background-position:-60px -27px;}
.jd-header-shortcut span.shortcut-cart{background-position:-90px -27px;}
.jd-header-shortcut span.shortcut-my-account{background-position:-120px -27px;}
.jd-header,.jd-header a{font-family:"PingHei","Lucida Grande","Lucida Sans Unicode","STHeiti","Helvetica","Arial","Verdana","sans-serif";color:#252525;text-decoration:none;font-size:16px;}
.jd-header-shortcut span.shortcut-home{background-position:-30px -27px;}
.jd-header-shortcut span,.jd-header-shortcut strong{display:block;margin:0 auto;color:#fff;font-weight:normal;font-size:12px;line-height:1;}
.hide{display:none;}
.jd-header-shortcut span{width:30px;height:30px;margin-top:6px;}
.login-area{padding-bottom:1.8em;text-align:center;width:100%;max-width:640px;background-color:#fff;margin:0 auto;}
.login-area .login{padding:.55em .71em;border-bottom:1px solid #e5e5e5;text-align:left;}
.login-area a{font-size:.85em;color:#666;}
.login-area .lg-bar{display:inline-block;margin:0 2px;color:#666;}
.login-area a{font-size:.85em;color:#666;}
.new-fr{float:right;}
.version{padding:.71em 0 5px;}
.version a{padding:0 1.16em;color:#6e6e6e;}
.version a.on{color:#e6242b;}
.copyright{font-size:12px;color:#666;}
.jd-footer{background:#f8f8f8;color:#848689;text-align:center;font-size:12px;}
.jd-1px-line-up{height:0;border-top:1px solid #bfbfbf;border-width:1px 0 0 0;}
.jd-footer-links{width:320px;margin:0 auto;display:table;height:13px;padding:18px 0;}
.jd-footer-links li:first-child,.jd-footer-links li:nth-child(2){border-right:1px solid #d7d7d7;}
.jd-footer-links li:first-child,.jd-footer-links li:last-child{width:90px;}
.jd-footer-links li a{color:#848689;text-decoration:none;}
.jd-footer-links a{display:inline-block;width:72px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:1.1em;}
.jd-footer,.jd-footer a{font-family:"PingHei","Lucida Grande","Lucida Sans Unicode","STHeiti","Helvetica","Arial","Verdana","sans-serif";}
.jd-footer-platforms{height:69px;width:320px;margin:0 auto;display:table;}
.jd-footer-platforms li{display:table-cell;}
.jd-footer-platforms li a{display:block;width:45px;margin:0 auto;font-size:12px;color:#848689;text-decoration:none;position:relative;}
.jd-footer-platforms li.jd-footer-icon-apps a:before{background-position:-121px -70px;}
.jd-footer-platforms li a.badge:after{content:"";display:block;width:10px;height:10px;position:absolute;top:2px;right:3px;background-position:-150px 0;}
.jd-footer-platforms li a.badge:after{content:"";display:block;width:10px;height:10px;position:absolute;top:2px;right:3px;background-position:-150px 0;}
.jd-footer-platforms li a.badge:after{content:"";display:block;width:10px;height:10px;position:absolute;top:2px;right:3px;background-position:-150px 0;}
.jd-footer-platforms li{display:table-cell;}.jd-footer-platforms li.current a{color:#252525;}
.jd-footer-platforms li.jd-footer-icon-touchscreen a:before{background-position:-41px -70px;}
.jd-footer-copyright{height:44px;line-height:44px;text-align:center;color:#848689;font-size:12px;}
.jd-footer-links li{display:table-cell;width:69px;height:13px;line-height:13px;font-size:13px;}
.jd-footer-platforms li a:before{content:"";display:block;height:38px;width:33px;margin:9px auto 0;background-position:0 -70px;opacity:.6;}
.jd-footer-platforms li.jd-footer-icon-pc a:before{background-position:-81px -70px;}
.page-content{background-color:#f1f1f5;}
.goods-part{/*padding-left:10px;*/}
.scroll-imgs{height:320px;background-color:#ccc;}
.part-note-msg{height:15px;display:inline-block;line-height:15px;font-size:14px;color:#999999; margin-right:10px;}
.prod-coupon,.prod-spec,.loc-serv-note{height:auto;padding-top:14px;font-size:0;padding-bottom:14px;}
.share-quest{padding-top:14px;padding-bottom:14px;}
/*.shop-part{width:100%;margin-top:10px;position:relative;overflow:hidden;padding:12px 0;}*/
/*.guess-ulike{margin-top:10px;}*/
.icon-arrow{position:absolute;right:-3px;width:15px;height:15px;background-image:url(../img/icon_sprits.png);background-repeat:no-repeat;background-size:50px 50px;}/*2016-3-2*/
.icon-arrow-up{background-position:3px -5px;}
.icon-arrow-down{background-position:3px 6px;}
.icon-arrow-right{background-position:5px -16px;}
/*.shopping-guess-container{background:#f0f2f5;display:block;left:0;width:100%;bottom:51px;}
.shopping-guess{background:white;}
.shopping-guess-title{height:40px;line-height:40px;font-size:15px;color:#252525;margin-left:15px;}
.shopping-guess-title a{float:right;margin-right:10px;height:40px;display:block;text-decoration:none;width:100px;}
.guess-down .shopping-guess-cover{display:none;}
.guess-up .shopping-guess-cover{display:block;}
.shopping-guess-cover{width:100%;overflow:hidden;}
.shopping-guess-list{margin-right:15px;list-style:none;width:692px;font-size:0;}
.shopping-guess-item .guess-item-pic{height:80px;width:80px;overflow:hidden;}
.shopping-guess-item{list-style:none;margin:0 0 14px 15px;width:80px;display:inline-block;}.guess-item-pic img{width:100%;height:auto;border-radius:5px;border:none;}
.shopping-guess-item .guess-item-content{margin-top:7px;}
.guess-item-content span{font-size:10px;color:#686868;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;display:-webkit-box;height:29px;line-height:14px;}
.guess-item-price{margin-top:0;height:18px;line-height:18px;}
.guess-item-price span{font-size:11px;color:#222;}
.guess-item-price span i{font-style:normal;}
.guess-item-price span i:before{content:' ';background:url(/item/images/2014/ware/cart-yuan-icon.png) 0 0 no-repeat;background-size:8px 9px;display:inline-block;width:8px;height:9px;}
.shopping-guess-icon{width:18px;height:18px;margin-right:10px;position:relative;top:3px;}
.shopping-guess-icon img{width:18px;height:auto;display:inline-block;}*/
.basic-info .prod-title{position:relative;margin-top:13px;}
.prod-title a{text-underline:none;}
.prod-title .title-text{display:inline-block;font-size:16px;color:#3d4245;margin-right:30px;}
.title-text .self-shopping-icon{display:inline-block;background-color:#ec5252;color:#fff;font-style:normal;font-size:12px;padding:1px 8px;margin-left:5px;border-radius:4px;}
.prod-title .detail-import{display:inline-block;float:right;}
.import-left-icon{position:absolute;width:15px;height:20px;background:url(../img/jd-sprites.png) no-repeat;background-size:200px 200px;top:7px;right:8px;}
.detail-import .icon-position{background-position:-180px -50px;}
.detail-import .icon-arrow-right{top:5px;right:8px;}
.basic-info .prod-act{font-size:13px;color:#848689;margin-top:8px;}
.basic-info .act-link{color:#ec5252;margin-top:8px;font-size:13px;line-height:18px;}
.act-link a{border-bottom:solid 1px red;}
.basic-info .prod-price{font-size:24px;font-family:'Helvetica';color:#ec5252;margin-top:10px;font-weight:bold;}.prod-price span{font-size:21px;}
.basic-info .prod-seckill{margin-bottom:7px;position:relative;}
.prod-seckill .seckill-text{font-size:12px;color:#ec5252;display:inline-block;width:73%;}
.seckill-text .seckill-icon{font-style:normal;display:inline-block;height:16px;border:1px solid #ec5252;line-height:16px;margin-right:5px;padding-right:2px;}
.seckill-icon img{width:16px;height:auto;vertical-align:top;margin-right:2px;}
.prod-seckill .seckill-timer{margin-right:10px;font-size:12px;margin-top:3px;color:#686868;position:absolute;right:0;bottom:0;}
.seckill-timer .seckill-time{border:1px solid rgba(169,169,169,0.61);display:inline-block;padding:0 2px;text-align:center;}
.prod-promotion-container{margin-top:14px;position:relative;}
.promotion-content{margin:-20px 35px 4px 38px;}
.promotion-content .promotion-item{margin-bottom:8px;}
.promotion-item-suit{font-size:14px;color:#252525;margin-top:3px;}
.promotion-item .promotion-icon{font-style:normal;background-color:#ec5252;font-size:12px;line-height:15px;border-radius:3px;color:#fff;padding:1px 4px;display:inline-block;}
.promotion-item .promotion-item-text{font-size:14px;color:#252525;}
.promotion-up .promotion-icon{vertical-align:top;margin-top:2px;}
.promotion-up .promotion-item-text{display:inline-block;width:85%;margin-right:-28px;}.promotion-item .promotion-info{font-size:14px;color:#252525;}
.promotion-item-text i{font-size:14px;font-style:normal;color:#ec5252;}
.promotion-down .promotion-info{display:none;}
.promotion-down .promotion-content{max-height:95px;overflow:hidden;margin-top:-30px;margin-bottom:3px;}.promotion-down .promotion-item{display:-webkit-box;overflow:hidden;-webkit-line-clamp:1;-webkit-box-orient:vertical;}
.promotion-down .icon-arrow-right{display:none;}
.promotion-down .icon-arrow-position{background-position:3px 6px;top:4px;}
.promotion-down .promotion-item-suit{display:none;}
.promotion-down .jd-slider-item{display:none!important;}
.promotion-up .item-import{position:relative;}
.promotion-up .detail-import{display:block;}
.promotion-up .icon-arrow-right{top:5px;right:-28px;}
.promotion-up .icon-arrow-position{background-position:3px -5px;top:4px;}
.promotion-up .promotion-item-suit{display:inline-block;position:absolute;right:0;top:0;}
.promotion-up .jd-slider-item{display:inline-block;}
.promotion-suit-container{overflow:hidden;position:relative;margin-bottom:15px;margin-top:8px;margin-right:-30px;}
.jd-slider-container{-webkit-transition:500ms;}
.suit-list{margin:0;padding:0;list-style-type:none;margin-left:-40px;margin-right:-40px;font-size:0;}
.suit-list li{margin:0;padding:0;list-style-type:none;}
.suit-list .suit-item{display:inline-block;margin-left:40px;}
.suit-item .suit-item-title{font-size:12px;color:#848689;}
.suit-item .suit-item-content{margin-top:5px;overflow:hidden;}
.suit-item-content .suit-item-pic{width:63px;height:63px;border-radius:5px;overflow:hidden;border:1px solid #d7d7d7;display:inline-block;}
.suit-item-pic img{width:63px;height:63px;}
.suit-item-content .suit-item-add{position:relative;top:-25px;color:#848689;font-size:10px;margin:0 2px;}
.goodsinfo-palm-vip{margin:7px 10px 10px 10px;}
.goodsinfo-palm-vip .icon-palm-vip{display:table-cell;width:68px;height:17px;background-size:68px 17px;}
.goodsinfo-palm-vip .info-palm-vip{display:table-cell;padding-left:10px;color:#848689;font-size:14px;}
.goodseval .info{position:relative;padding-top:12px;padding-bottom:12px;}
.goodseval .info .text{font-size:15px;}
.goodseval .info .text-fr{float:right;margin-right:20px;color:#9d9c9c;font-size:12px;margin-top:2px;}/*2016-3-2*/
.goodseval .icon-arrow-right{top:15px;}
.good-comment-text{font-size:14px;color:#252525;margin-left:12px;}
.good-comment-text em{color:#ec5252;}
em,address{font-style:normal;}
.eval-box-i{display:table;width:100%;text-align:center;}
.eval-box-i a{display:table-cell;vertical-align:middle;color:#252525;width:50%;font-size:14px;}
.eval-box-i .icon{background:url("/item/images/2014/ware/icon-fov-new.png");background-size:45px 70px;background-position:0 -21px;width:17px;height:15px;margin-bottom:2px;display:inline-block;vertical-align:middle;font-style:normal;}
.icon.icon-cons{background-position:-23px -21px;}
.btn-good{border-right:1px solid #dedede;}
.comment-list{padding:0;margin:0;}
.comment-list .comment-list-item{min-height:64px;/*margin:0 10px 0 0;*/overflow:hidden;}/*2016-3-2*/
.comment-list-item .comment-item-info{padding-top:4px;border-top:solid 1px #e2e2e2; padding-left:10px; padding-right:10px;}
.comment-list-item:first-child .comment-item-info{border-top:none;}
.comment-item-info .comment-item-author{font-size:10px;color:#a7a9ab;float:right;margin-top:3px;}
.comment-item-date{font-size:8px;color:#a7a9ab;text-align:left;margin-bottom:8px; padding-left:10px;}/*2016-3-2*/
.comment-item-info .comment-item-date{padding-right:15px;float:right;}
.comment-item-star{display:inline-block;overflow:hidden;width:75px;height:12px;background:url(../img/comment-star.png) repeat-x 0 -12px;background-size:15px 24px;margin:10px 0;}
.comment-item-star .real-star{display:inline-block;height:12px;background:url(../img/comment-star.png) repeat-x 0 0;background-size:15px 24px;}
.comment-stars-width1{width:20%;}
.comment-stars-width2{width:40%;}
.comment-stars-width3{width:60%;}
.comment-stars-width4{width:80%;}
.comment-stars-width5{width:100%;}
.comment-list-item .comment-item-content{max-height:35px;display:table;overflow:hidden;vertical-align:middle; padding-left:10px; padding-right:10px;}
.comment-list-item .comment-item-content .content{font-size:12px;display:table-cell;vertical-align:middle; color:#252525;}
.comment-item-content .icon{width:40px;display:table-cell;vertical-align:middle;text-align:right;}
.up-icon .icon i{background:url(../img/icon_sprits.png) no-repeat 0 0;background-size:50px 50px;width:15px;height:15px;display:inline-block;background-position:3px -5px;}
.down-icon .icon i{background:url(../img/icon_sprits.png) no-repeat 0 0;background-size:50px 50px;width:15px;height:15px;display:inline-block;background-position:3px 6px;}
.down-icon .content{display:-webkit-box!important;overflow:hidden;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.up-icon .content{padding-bottom:5px;}
.comment-img-container{margin:4px 0 4px 0;overflow:hidden;font-size:0; padding-left:10px; padding-right:10px;}
.comment-img-container .img-container{overflow:hidden;}
.img-container li{display:inline-block;list-style-type:none;float:left;}
.img-container .comment-img-item{width:65px;height:65px;overflow:hidden;border-radius:4px;}
.comment-img-item img{border-radius:4px;}
.comment-img-space{width:13px;height:13px;}
/*.coupon_unit{position:relative;width:108px;height:55px;border-radius:5px;margin-top:10px;box-sizing:border-box;font-family:"STXihei";margin-right:11px;display:inline-block;}*/
.expe_disc{width:87px;height:100%;float:left;}
.expeNum{padding-top:5px;line-height:29px;padding-left:5px;overflow:hidden;}
.condi_msg{height:19px;font-size:11px;padding-left:5px;line-height:19px;}
em.left_m{position:absolute;width:4px;height:9px;left:-1px;top:22px;}
.coupon-total-nums{height:15px;display:inline-block;line-height:15px;font-size:14px;color:#bfbfbf;letter-spacing:1px;float:right;margin-right:10px;}
/*.coupon_unit .coupon_icon{width:5px;height:55px;margin-top:-1px;float:left;}
.oper_msg{float:left;width:14px;height:100%;font-size:11px;text-align:center;box-sizing:border-box;}
.coupon_unit .up{height:34px;padding-top:9px;line-height:12px;padding-right:3px;box-sizing:border-box;}
.coupon_unit .down{height:19px;line-height:12px;padding-right:3px;padding-top:1px;box-sizing:border-box;}*/
.expeNum>span{float:left;}
.rmb{font-size:15px;height:29px;overflow:hidden;line-height:32px;}
.actual-number{font-size:22px;font-family:"Helvetica";}
/*.coupon_unit.blue{border:1px solid #60bbf5;border-width:1px 1px 1px 1px;background-color:#fff;border-image:url(/item/images/2014/ware/border_b.png) 2 round;-webkit-border-image:url(/item/images/2014/ware/border_b.png) 2 round;-o-border-image:url(/item/images/2014/ware/border_b.png) 2 round;}
.coupon_unit.blue .coupon_icon{background:url(/item/images/2014/ware/blued.png) 0 0 no-repeat;background-size:5px 55px;}
.coupon_unit.blue .expeNum,.coupon_unit.blue .up,.coupon_unit.blue .down,.coupon_unit.blue .condi_msg{color:#60bbf5;}
.coupon_unit.blue .condi_msg,.coupon_unit.blue .down{background-color:#dcf4ff;}
.coupon_unit.blue em.left_m{background:url(/item/images/2014/ware/rightb.png) 0 0 no-repeat;background-size:100%;}
.coupon_unit.red{border:1px solid #f57c7c;border-width:1px 1px 1px 1px;background-color:#fff;border-image:url(/item/images/2014/ware/border_r.png) 2 round;-webkit-border-image:url(/item/images/2014/ware/border_r.png) 2 round;-o-border-image:url(/item/images/2014/ware/border_r.png) 2 round;}
.coupon_unit.red .coupon_icon{background:url(/item/images/2014/ware/redd.png) 0 0 no-repeat;background-size:5px 55px;}
.coupon_unit.red .expeNum,.coupon_unit.red .up,.coupon_unit.red .down,.coupon_unit.red .condi_msg{color:#f57c7c;}
.coupon_unit.red .condi_msg,.coupon_unit.red .down{background-color:#ffebeb;}
.coupon_unit.red em.left_m{background:url(/item/images/2014/ware/rightr.png) 0 0 no-repeat;background-size:100%;}
.coupon-slider .coupons-container em.left_m,.coupons-container .coupon_unit .coupon_icon{background-color:#fff;}
.coupon_unit.green{border:1px solid #60c4a2;border-width:1px 1px 1px 1px;background-color:#fff;border-image:url(/item/images/2014/ware/border_green.png) 2 round;-webkit-border-image:url(/item/images/2014/ware/border_green.png) 2 round;-o-border-image:url(/item/images/2014/ware/border_green.png) 2 round;}
.coupon_unit.green .coupon_icon{background:url(/item/images/2014/ware/greend.png) 0 0 no-repeat;background-size:5px 55px;}
.coupon_unit.green .expeNum,.coupon_unit.green .up,.coupon_unit.green .down,.coupon_unit.green .condi_msg{color:#60c4a2;}
.coupon_unit.green .condi_msg,.coupon_unit.green .down{background-color:#e6f8f2;}
.coupon_unit.green em.left_m{background:url(/item/images/2014/ware/rightgreen.png) 0 0 no-repeat;background-size:100%;}
.coupon_unit.grep{border:1px solid #bfbfbf;border-width:1px 1px 1px 1px;background-color:#fff;border-image:url(/item/images/2014/ware/border_g.png) 2 round;-webkit-border-image:url(/item/images/2014/ware/border_g.png) 2 round;-o-border-image:url(/item/images/2014/ware/border_g.png) 2 round;}
.coupon_unit.grep .coupon_icon{background:url(/item/images/2014/ware/grepd.png) 0 0 no-repeat;background-size:5px 55px;}
.coupon_unit.grep .expeNum,.coupon_unit.grep .up{color:#d9d9d9;}
.coupon_unit.grep .down{color:#fff;}.coupon_unit.grep .condi_msg{color:#fff;}
.coupon_unit.grep .condi_msg,.coupon_unit.grep .down{background-color:#d9d9d9;}
.coupon_unit.grep em.left_m{background:url(/item/images/2014/ware/rightg.png) 0 0 no-repeat;background-size:100%;}*/
.spec-desc,.pro-color,.pro-size,.pro-count{font-size:0;overflow:hidden;}
.base-txt{margin-left:38px;font-size:14px;color:#3d4245;line-height:15px;padding-right:15px;}
.spec-desc{margin-bottom:10px;}
.pro-color,.pro-size,.pro-count{margin-top:3px;}
.pro-count{height:26px;}
.quantity-wrapper{display:inline-block;height:24px;border-radius:5px;}
.quantity-decrease,.quantity,.quantity-increase{float:left;font-size:14px;text-align:center;}
.quantity-decrease,.quantity-increase{background:#fff;border:1px solid #ccc;color:#666;display:block;line-height:24px;width:32px;overflow:hidden;text-indent:-200px;background-size:50px 100px;}
.quantity-decrease{-webkit-border-radius:2px 0 0 2px; }
.quantity-decrease.disabled,.quantity-increase.disabled{background-color:#e8e8e8;color:#999;}
.quantity-decrease.disabled em,.quantity-increase.disabled em{background-position:10px -45px;}
.quantity{color:#333;border:solid #848689;border-width:1px 0 1px 0;height:24px;width:39px;border-radius:0;-webkit-appearance:none;}
.quantity-decrease,.quantity,.quantity-increase{float:left;font-size:14px;text-align:center;}
.quantity-increase{-webkit-border-radius:0 2px 2px 0;}
.quantity-decrease,.quantity-increase{background:#fff;border:1px solid #848689;color:#666;display:block;line-height:24px;width:24px;overflow:hidden;text-indent:-200px;}
.quantity-decrease,.quantity,.quantity-increase{float:left;font-size:13px;text-align:center;height:100%;}
.quantity-increase em{background:url(../img/quantity.png) no-repeat -18px -2px;height:10px;width:10px;display:block;margin:7px;}
.quantity-decrease em{background:url(../img/quantity.png) no-repeat -2px -2px;height:10px;width:10px;display:block;margin:7px;}
.prod-spec .part-note-msg,.send-to .part-note-msg,.provide-srv .part-note-msg,.msg-notice .part-note-msg{float:left;white-space:nowrap;}
.spec-desc .base-txt,.spec-desc .part-note-msg{line-height:18px;}
.pro-color .part-note-msg,.pro-size .part-note-msg{line-height:23px;}
.pro-count .part-note-msg{line-height:24px;}.srv-item{display:inline-block;}
.show-msg-detail .srv-item{display:block;}
.pro-color p,.pro-size p{margin-left:38px;overflow:hidden;}
.pro-color,.pro-size{padding-right:10px;}
.pro-color p a,.pro-size p a{height:25px;border:1px solid #d7d7d7;border-radius:4px;line-height:23px;font-size:13px;color:#686868;float:left;margin-right:10px;padding-left:15px;padding-right:15px;margin-bottom:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:100%;box-sizing:border-box;}
.pro-color p a.selected,.pro-size p a.selected{border:1px solid #ec5252;color:#ec5252;}
.pro-color:after,.pro-size:after,.list-yb:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.provide-srv,.msg-notice{margin-top:13px; padding-left:10px; padding-right:10px;padding-bottom:14px;}
.send-to{padding-top:14px; padding-left:10px; padding-right:10px;}
.msg-notice{padding-bottom:14px;}
.col02{color:#686868;-moz-box-flex:1;box-flex:1;margin-left:38px;}
.send_loc{position:relative;font-size:0;line-height:15px;height:15px;margin-left:38px;}
.send_loc span{font-size:14px;margin-right:8px;color:#3d4245;}
.icon-location{display:inline-block;width:13px;height:16px;background:url('/item/images/2014/ware/detail-sprites.png') no-repeat 0 0;background-size:11px 16px;}
.icon{vertical-align:top;font-style:normal;}
.stockStatus{color:#EC5252;font-size:14px;margin-left:38px;margin-top:10px;overflow:hidden;}
.isExist{float:left;line-height:19px;}
.send-time{display:none;margin-left:36px;color:#848689;line-height:19px;padding-right:15px;}
.icon-bg03{border:1px solid #6a77b6;display:inline-block;vertical-align:middle;font-style:normal;color:#6a77b6;font-size:12px;height:16px;line-height:16px;padding-right:2px;margin-right:12px;margin-top:10px;}
.icon-bg03 img{vertical-align:top;margin-right:2px;width:15px;height:100%;}
.txt02-adjust{line-height:17px;color:#9d9c9c!important;font-size:12px;display:none;padding-right:15px;margin-top:3px;}
.promise-ico .icon-arrow-up,.promise-ico .icon-arrow-down{top:10px;}
.ext-warr .icon-arrow-up,.ext-warr .icon-arrow-down,.more-detail .icon-arrow-right{top:16px;}
.promise-ico{margin-left:38px;position:relative;padding-right:23px;height:28px;overflow:hidden;}
.show-msg-detail{height:auto;}
.show-msg-detail .txt02-adjust,.show-msg-detail .extend-items{display:block;transition:2s all ease-out;}
.notice-items{margin-left:38px;}
.ebay-term{height:15px;line-height:15px;font-size:14px;display:block;margin-bottom:10px;}
.notice-items .ebay-term:last-child{margin-bottom:0;}
.seven-back{color:#6277ac;}
.ext-warr div,.more-detail div{position:relative;height:45px;line-height:45px;}
.box-i-tit{color:#686868;font-size:14px;font-weight:normal;}
.extend-items dd{margin-left:38px;}
.extend-items dd .fore01{text-align:left;color:#686868;line-height:20px;font-size:13px;float:left;}
.icon-check{width:14px;height:14px;border:1px solid #cccdd0;border-radius:10px;display:inline-block;font-style:normal;margin-right:8px;float:left;line-height:20px;margin-top:2px;}
.icon-check.seled{width:14px;height:14px;border:1px solid #f46767;background-image:url(/item/images/2014/ware/icon-check.png);background-size:14px 14px;}
section.extend-items{padding-right:15px;display:none;transition:2s all ease-out;}
.extend-items dd .fore02{display:block;text-align:left;color:#686868;font-size:13px;margin-left:126px;line-height:20px;}
.send_loc:after,.extend-items dd:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.extend-items dl dd{margin-bottom:5px;}
.extend-items dt{margin-bottom:5px;margin-top:10px;}
.extend-items dd .fore01 span{line-height:20px;display:inline-block;}
.extend-items dl:last-child{margin-bottom:15px;}
.list-yb.kleft{padding-left:38px;font-size:14px;margin-bottom:10px;margin-top:-10px;}
.list-yb{color:#000;line-height:22px;padding-right:23px;}
.list-yb .list-item{overflow:hidden;}
.list-yb .fore01,.list-yb .fore02{display:block;}
.list-yb .fore02{margin-left:70%;}
.list-yb .fore01{float:left;width:65%;margin-right:5%;}
.bottom-to-top{position:fixed;bottom:56px;right:8px;width:35px;height:35px;z-index:20;display:none;transform-origin:0;opacity:1;transform:scale(1,1);}
.list_content_mask{width:100%;height:100%;min-height:100%;position:absolute;left:0;top:0;background:rgba(0,0,0,0.5);z-index:11110;}
.sidebar-content{position:absolute;top:0;left:100%;width:90%;height:100%;overflow:scroll;background:rgba(0,0,0,0.7);z-index:105;}
.sidebar-header{position:fixed;top:0;left:0;z-index:111;background:#fff;height:44px;border-width:0 0 1px 0;border-bottom:1px solid #bfbfbf;width:100%;}
.sidebar-header.region-title{text-align:center;}
.sidebar-header span.region-title-back{margin-left:6px;}
.sidebar-header span{display:inline-block;font-size:16px;line-height:16px;padding:14px 7px;}
.region-title-back{float:left;display:inline-block;width:20px;height:20px;padding-left:5px;}
.region-title-name{display:inline-block;margin-right:20px;font-size:16px;}
.sidebar-items-container.region-list-group{overflow:hidden;}
.sidebar-items-container{height:100%;overflow:auto;width:100%;background:#fff;}
.spacer44{height:44px;}
div,span,a,header{-webkit-tap-highlight-color:rgba(255,255,255,0);}
.region-wrapper{width:100%;height:100%;min-height:100%;overflow:hidden;overflow-y:auto;}
.region-list-group ul.cur{display:block;}
.region-list-group ul{display:none;width:100%;overflow-x:hidden;float:left;}
.region-list{padding-bottom:50px;}
.sidebar-list,.sidebar-list ul{border-width:1px 0 0 0;border-top:1px solid #bfbfbf;font-size:1px;}
.sidebar-categories li.checked .tick{background-position:-160px -55px;}
.sidebar-list a{display:block;}
.sidebar-list li span,.sidebar-list li li span{height:43px;line-height:43px;font-size:15px;color:#252525;}
.region-list span{padding-left:15px;}
.sidebar-categories span{display:inline-block;width:46%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.region-list-group .loading-mask{background:rgba(255,255,255,0.1) url('/item/images/2014/ware/loading-animation.gif?v=1') no-repeat center center;background-size:19px 19px;top:0;width:100%;height:100%;min-height:100%;position:absolute;}
.sidebar-move{height:100%;overflow:hidden;animation:sidebar-body-move .5s 1 ease 0s;-webkit-animation:sidebar-body-move .5s 1 ease 0s;position:relative;left:-90%;}
.sidebar-move body{height:100%;overflow:hidden;}
.region-title-back i{display:block;width:20px;height:20px;background-position:-20px 0;}
.sidebar-back{animation:sidebar-body-back .2s 1 ease 0s;-webkit-animation:sidebar-body-back .2s 1 ease 0s;left:0;}@keyframes sidebar-body-move{0%{left:0;}
100%{left:-90%;}}@keyframes sidebar-body-back{0%{left:-90%;}
100%{left:0;}}@-webkit-keyframes sidebar-body-move{0%{left:0;}
100%{left:-90%;}}@-webkit-keyframes sidebar-body-back{0%{left:-90%;}
100%{left:0;}}.coupon-slider{margin-left:38px;white-space:nowrap;overflow:hidden;}
.scroll-imgs{text-align:center;background:#fff!important;}
.slide{width:320px;height:320px;overflow:hidden;display:inline-block;position:relative;}
.slide .slide_01{position:absolute;top:0;left:0;visibility:visible;z-index:10;}
.slide .slide_01 .mod_01{width:320px;height:320px;visibility:visible;position:relative;background-color:#fff;float:left;display:-webkit-box;-webkit-box-pack:center;-webkit-box-align:center;}
.slide .slide_01 .mod_01 img{max-width:80%;max-height:80%;display:block;overflow:hidden; margin:20px auto;}
.slide ol{position:absolute;right:10px;bottom:10px;visibility:visible;z-index:11;}
.slide ol>li{float:left;width:10px;height:5px;visibility:visible;display:inline;background-color:red;margin-right:5px;}
.slide ol>li.active{background-color:yellow;}
.slide .page-nub{z-index:11;position:absolute;width:40px;height:40px;border-radius:50%;-webkit-border-radius:50%;background:rgba(0,0,0,0.15);right:3px;bottom:5px;text-align:center;line-height:40px;overflow:hidden;}
.slide .fz18{font-size:18px;display:inline-block;color:#fff;margin-right:-3px;}
.slide .nub-bg{display:inline-block;color:#fff;font-size:12px;}
.slide .fz12{font-size:15px;color:#fff;margin-left:-3px;font-family:'Myriad Pro Regular';}
.slide .fz10{font-size:8px;font-family:'Myriad Pro Regular';}
.slide .tittup{width:38px;height:320px;display:block;position:absolute;right:-45px;top:0;display:-webkit-box;-webkit-box-align:center;}
.slide .tittup .inner{width:18px;display:block;font-size:12px;color:#252525;margin-left:7px;font-family:'华文黑体 细体';line-height:17px;}
.slide .arrow-box{width:15px;height:15px;position:relative;-webkit-transition:1s;transition:1s;}
.slide .rotate{-webkit-transform:rotate3d(0,7.5,0,180deg);transform:rotate3d(0,7.5,0,180deg);}
.slide .arrow{width:15px;height:15px;display:block;background-color:#fff;position:absolute;top:0;left:0;background:url(/item/images/2014/ware/arrow-ico.png) no-repeat 0 0 #fff;-webkit-background-size:30px;background-size:30px;}
.slide .arrow2{width:15px;height:15px;display:block;position:absolute;top:0;left:0;background:url(/item/images/2014/ware/arrow-ico.png) no-repeat -15px 0 #fff;-webkit-background-size:30px;background-size:30px;}
.my-header ul:after{cotent:"";display:block;height:0;clear:both;visibility:hidden;}
.my-header ul{list-style:none;margin:0;height:43px;text-align:left;padding:0;}
.my-header ul li{float:left;height:43px;border-bottom:1px solid #e2e2e2;display:block;width:20%;}
body{margin:0;}
.my-header span{display:block;}
.topSpan{font-size:12px;display:block;text-align:center;}
.bottomSpan{font-size:11px;display:block;margin-top:2px;text-align:center;}
.option{margin-top:7px;color:#b6b6b6;}
.errPic{width:128px;height:150px;margin-left:auto;margin-right:auto;margin-top:140px;}
.errPic img{display:block;margin-left:auto;margin-right:auto;margin-top:0;height:60px;}
.errPic span{display:block;margin-top:20px;color:#bfbfbf;font-size:17px;text-align:center;}
.errPic .as{margin-left:auto;margin-right:auto;background-color:#fff;display:inline-block;margin-top:15px;height:34px;width:100%;font-size:14px;color:#bdbdbd;text-align:center;-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 1px #9b9d9f;box-shadow:0 0 1px #9b9d9f;line-height:34px;}
.my-header ul .optionli{border-bottom:3px solid #ec5252;height:41px;}
/*.shop-row1{padding:0 12px 0 10px;width:100%;overflow:hidden;}
.shop-row{width:100%;display:inline-block;vertical-align:middle;float:left;overflow:hidden;}
.shop-icon{position:absolute;top:13px;width:17px;height:15px;background:url("/item/images/2014/ware/shop-icon.png") 0 0 no-repeat;background-size:17px 15px;}
.shop-name{font-size:14px;float:left;color:#222;padding-left:20px;padding-right:8px;display:inline-block;vertical-align:middle;line-height:18px;max-width:193px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.shop-attr{float:left;display:inline-block;vertical-align:middle;}
.shop-jd-self{padding-left:7px;padding-right:7px;font-size:12px;border-radius:3px;color:#fff;background-color:#ec5252;text-align:center;line-height:16px;}
.shop-diamond{width:62px;height:16px;background:url("/item/images/2014/ware/diamond.png") 0 0 no-repeat;background-size:62px 16px;}
.icon-right{position:absolute;top:18px;right:11px;width:10px;height:10px;background:url("/item/images/2014/ware/arrow-left-up.png") 0 0 no-repeat;background-size:50px 50px;}
.shop-slogan{color:#848689;font-size:13px;line-height:13px;padding:6px 0 0 30px;}
.shop-describe{position:relative;width:100%;overflow:hidden;float:left;padding-top:10px;}
.describe-info{width:33.33%;font-size:12px;line-height:12px;overflow:hidden;text-align:center;float:left;color:#686868;}
.shop-describe:after{clear:both;content:".";height:0;visibility:hidden;font-size:0;display:block;}
.shop-tab{width:100%;position:relative;overflow:hidden;float:left;padding-top:10px;}
.shop-tab .tabs{width:33.3%;float:left;text-align:center;overflow:hidden;position:relative;}
.shop-tab .tabs .num{font-size:14px;line-height:14px;color:#252525;}
.shop-tab .tabs .text{margin-top:3px;font-size:10px;line-height:18px;color:#848689;}
.shop-tab .tabs .vertical-line{position:absolute;border-right:1px solid #d7d7d7;height:26px;right:0;top:50%;margin-top:-13px;}
.shop-tab :after{clear:both;content:".";height:0;visibility:hidden;font-size:0;display:block;}*/
.shop-footer{padding:7px 10px 0 10px;overflow:hidden;}
.shop-footer:after{clear:both;content:".";height:0;visibility:hidden;font-size:0;display:block;}
.shop-dong,.shop-go{border-radius:5px;border:1px solid #d7d7d7;width:48%;font-size:0;}
.shop-dong{float:left;}
.shop-go{float:right;}
.shop-btn{text-align:center;width:100%;display:block;font-size:0;height:32px;}
.dong-text,.go-text{display:inline-block;font-size:14px;color:#686868;line-height:32px;}
.icon-dong{display:inline-block;background:url("/item/images/2014/ware/icon-dong.png") 0 4px no-repeat;width:14px;height:14px;background-size:30px 14px;padding:9px 0 9px 0;margin-right:4px;vertical-align:middle;}
.icon-dong-on{background-position:0 4px;}
.icon-dong-not{background-position:-16px 4px;}
.icon-go{display:inline-block;background:url("/item/images/2014/ware/shop-icon.png") 0 4px no-repeat;width:14px;height:14px;background-size:14px 13px;padding:9px 0 9px 0;margin-right:4px;vertical-align:middle;}
.noshop-dong{width:100%;text-align:center;font-size:0;}
.noshop-dong-btn{text-align:center;width:100%;display:block;font-size:0;height:14px;}
.noshop-dong-text{display:inline-block;font-size:14px;color:#686868;line-height:14px;}.noshop-icon-dong{display:inline-block;background:url("/item/images/2014/ware/icon-dong.png") 0 0 no-repeat;width:14px;height:14px;background-size:30px 14px;margin-right:4px;vertical-align:top;}
.noshop-icon-dong-on{background-position:0 0;}
.noshop-icon-dong-not{background-position:-16px 0;}
/*.shop-href{display:block;width:100%;height:100%;overflow:hidden;}*/
.tbl-type{display:table;width:100%;}
.tbl-cell{display:table-cell;margin-right:13px;}
.btn-cart-1{background:#6cb248;}
.detail-tbn2{padding:5px 0;background:#f1f1f5;}
.detail-tbn2 .tbl-cell{width:50%;text-align:center;}
.detail-tbn2 .tbl-cell a{display:block;height:35px;margin:0 10px;border-radius:3px;line-height:35px;color:#fff;}
.detail-tbn2 .tbl-cell a.btn-yuyue,.detail-tbn2 .tbl-cell a.btn-yuyue2{padding:7px 30px 7px 10px;text-align:left;color:#333;line-height:normal;height:auto;background:#f3f3f3;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#ededed));background:-moz-linear-gradient(top,#fff,#ededed);font-size:14px;}
.detail-tbn2 .tbl-cell a.btn-yuyue2{text-align:center;padding:8px 10px 7px 30px;}
.icon-clock{display:inline-block;width:20px;height:20px;margin-right:5px;background:url(/item/images/touch2013/icon_clock.png) 0 0 no-repeat;background-size:100% 100%;vertical-align:-4px;}.detail-tbn2 .tbl-cell .txt-yuyue{float:right;color:#e4393c;}
.detail-tbn2 .tbl-cell a.btn-yuyue2 .txt-yuyue{float:none;}
.detail-tbn2 .tbl-cell .txt-yuyue span,.detail-tbn2 .tbl-cell .txt-yuyue2 span{display:inline-block;padding-left:10px;height:15px;border-left:1px solid #e4393c;vertical-align:-2px;}
.detail-tbn2 .tbl-cell .btn-yuyue2 .icon-clock{margin-right:10px;}
.absolute-box{position:relative;margin-bottom:30px;padding-left:50px;}
.absolute-box .col02{position:absolute;top:-35px;}
.pop-floor{width:100%;height:100%;position:absolute;top:0;left:0;vertical-align:middle;background:rgba(0,0,0,0.7);visibility:hidden;z-index:8889;}
.captchas-tip{border-radius:10px;border:1px solid #313131;background-color:#F8F8F8;padding:19px 12px 16px;width:272px;position:absolute;overflow:hidden;z-index:8890;left:50%;margin-left:-136px;box-sizing:border-box;}
.tip-title{font-size:17px;color:#4d4d4d;text-align:center;line-height:20px;}
.tip-coupon{display:block;text-align:center;width:80%;margin-left:10%;height:21px;}
.tip-coupon-info{padding:11px 0;font-size:13px;color:#4d4d4d;line-height:15px;height:auto;}
.captchas-info{border-bottom:1px solid #dcdcdc;box-shadow:0 1px 1px #fff;-webkit-box-shadow:0 1px 1px #fff;opacity:.8;overflow:hidden;}
.captchas-input{font-size:15px;padding:13px 12px;border-radius:5px;border:1px solid #d7d7d7;width:158px;height:43px;outline:none;-webkit-appearance:none;box-sizing:border-box;}
.captchas-img{width:30%;float:right;height:43px;}
.tip-warn{color:#ec5252;line-height:20px;font-size:13px;padding:1px 0;min-height:20px;}
.captchas-btns{padding-top:16px;overflow:hidden;}
.tip-btn{text-decoration:none;text-align:center;font-size:15px;border-radius:5px;width:117px;height:40px;box-sizing:border-box;line-height:38px;}
.btn-cancel{background-color:#fff;color:#4d4d4d;border:1px solid #b7b7b7;float:left;}
.btn-ensure{background-color:#f25454;color:#fff;border:1px solid #FC5858;float:right;}
.btn-ensure:after{content:"";clear:both;}
.get-captchas{text-decoration:none;border:1px solid #000;color:#000;}
.fix-one-page{position:relative;height:100%;}
.cart-concern-btm-fixed{position:fixed;left:0;bottom:0;z-index:10;text-align:center;width:100%;height:50px;}
.concern-cart a,.action-list a{display:inline-block;height:50px;line-height:50px;float:left;}
.concern-cart,.action-list{float:left;}
.concern-cart{background-color:rgba(0,0,0,.8);}
.concern-cart a,.action-list a{width:50%;}
.concern-cart a{color:#d4d4d4;font-size:10px;}
em.btm-act-icn{width:25px;height:24px;display:inline-block;margin:0 auto;background-color:#fff;background:url(/item/images/ware//cart_sprits.png) 0 0 no-repeat;background-image:url(../img/sprits_btm_new.png);background-repeat:no-repeat;vertical-align: middle; padding-right:5px;}
.order-numbers{display:inline-block;position:absolute;top:-5px;background-color:white;line-height:12px;font-style:normal;border-radius:8px;padding:0 5px;font-size:8px;color:#ec5252;right:-10px;}
.love-heart-icn .btm-act-icn{background-position:2px 3px;background-size:50px 50px;}
.action-list .btm-act-icn{background-position:0 -23px;background-size:50px 50px;}
.concern-cart a span{display:block;line-height:13px;height:18px;text-align:center;}
.action-list a{color:#fff;font-size:15px;}
.action-list a:hover,.action-list a:active,.action-list a:visited{ color:#fff;}/*2016-2-19*/

.disabled{background-color:#bfbfbf!important;}
.four-column .concern-cart{width:42%;}
.four-column .action-list{width:100%;}
.three-column .concern-cart{width:62%;}
.three-column .action-list{width:38%;}
.three-column .action-list a{width:100%;}
.three-column .action-list a:last-child{display:none;}
.bottom-focus-icon{background:url(/item/images/ware/focus-icon.png) no-repeat;background-size:100px 100px;}
.message-floor{width:100%;height:100%;display:none;position:fixed;top:0;left:0;text-align:center;z-index:100;}
.message-floor .messge-box{width:145px;height:88px;background:rgba(0,0,0,0.8);margin:200px auto;border-radius:10px;text-align:center;}
.messge-box .messge-box-icon{width:27px;height:27px;display:inline-block;margin:17px auto;position:relative;overflow:hidden;vertical-align:middle;}
.messge-box-icon h1{color:white;display:inline;margin-top:5px;font-size:22px;}
.messge-box .messge-box-content{font-size:15px;color:white;margin-top:-5px;}
.succee-icon{display:inline-block;height:26px;width:26px;background-position:0 -72px;}
.error-icon{display:inline-block;height:26px;width:26px;background-position:0 -45px;}
.focus-container{display:inline-block;width:40px;text-align:center;}
.focus-container .focus-icon{text-align:center;margin-bottom:-18px;}
.focus-out{background-position:0 0;display:inline-block;width:21px;height:19px;}
.focus-on{background-position:0 -25px;display:inline-block;width:21px;height:19px;}
.focus-info{color:#d4d4d4;font-size:10px;}
.focus-out-left{background-position:-25px 0;display:inline-block;width:12px;height:19px;-webkit-animation:runoff-left 1s;-webkit-transform-origin:80% 100%;transform-origin:80% 100%;animation:runoff-left 1s;}
.focus-out-right{background-position:-25px -25px;display:inline-block;width:12px;height:19px;margin-left:-5px;-webkit-animation:runoff-right 1s;-webkit-transform-origin:20% 100%;transform-origin:20% 100%;animation:runoff-right 1s;}
.heart-fill-anim{-webkit-animation:fillon 1s;animation:fillon 1s;}
.heart-empty-anim{-webkit-animation:fillout 2s;animation:fillout 2s;}
.pop{position:absolute;z-index:1000;width:270px;border-radius:8px;background:#fafafa;}
.pop p{padding:20px 24px 10px;font-size:14px;color:#333;text-align:center;}
.pop a{display:blockl;padding:13px 0;color:#bf9d5b;text-align:center;}
.pop a:last-child{border-left:1px solid #bf9d5b;}
.pop .tbl-type{border-top:1px solid #bf9d5b;}
.pop-v1 p{padding:20px 10px;text-align:left;}
.pop-v1 p .text{padding-left:5px;}
.pop-v1 .rdo-w{display:inline-block;width:80px;margin-left:3px;}
.pop-v1 .rdo-w-v1{width:100px;}
.pop-v1 .new-rdo{margin-right:3px;}
.pop-txt{color:#bf9d5b;}
.pop-txt-area{padding:0 15px 10px;}
.pop-txt2{display:block;text-align:left;font-size:12px;color:#999;}
@keyframes fillOut{0%{opacity:0;}
50%{opacity:.5;}
100%{opacity:1;}}@-webkit-keyframes fillOut{0%{opacity:0;}
50%{opacity:.5;}
100%{opacity:1;}}@keyframes fillon{0%{transform:scale(1,1);}
50%{transform:scale(1.3,1.3);}
100%{transform:scale(1,1);}}@-webkit-keyframes fillon{0%{-webkit-transform:scale(1,1);}
50%{-webkit-transform:scale(1.3,1.3);}
100%{-webkit-transform:scale(1,1);}}@keyframes runoff-left{0%{transform:rotate(0deg);}
50%{transform:rotate(-90deg);opacity:.4;}
100%{transform:rotate(-160deg);opacity:0;}}@-webkit-keyframes runoff-left{0%{-webkit-transform:rotate(0deg);}
50%{-webkit-transform:rotate(-90deg);opacity:.4;}
100%{-webkit-transform:rotate(-160deg);opacity:0;}}@keyframes runoff-right{0%{transform:rotate(0deg);}
50%{transform:rotate(90deg);opacity:.4;}
100%{transform:rotate(160deg);opacity:0;}}@-webkit-keyframes runoff-right{0%{-webkit-transform:rotate(0deg);}
50%{-webkit-transform:rotate(90deg);opacity:.4;}
100%{-webkit-transform:rotate(160deg);opacity:0;}}
.action-list a.gray-color{background-color:#434343; width:30%; line-height:normal;}
.action-list a.gray-color em{ display:block; margin-top:4px; position:relative;}/*2016-2-19*/
.action-list a.red-color{background-color:#ec5252; width:35%;}
.action-list a.yellow-color{background-color:#ff9402; width:35%;}

.End{ height:40px; line-height:40px; text-align:center; font-size:14px; color:#4b4b4b;}